.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}
.jumbotron {
    margin-bottom: 0;
}
 #footer-bottom {
    color: #727577;
 }
footer {
   background-color: #000;
   padding: 25px;
}
#footer-links{
    color: #b5b5b5;
}
#links-heading{
    color: #fff;
}
#footer-links .col-sm-3 small:hover{
    color:#fff;
}
.news {
    background-color: #222;
    color:white;
    padding: 15px;
}
body{
    overflow-x:hidden;
}
.footer-row{
    margin-top: 8px;
}
hr{
    border-top: 1px solid #534f4f;
}
 h1{
    font-size: 45px;
    font-weight: lighter;
}
.vcenter {
    margin-top: 45px;
    padding-bottom: 40px;
    height: 10px;
    line-height: 10px;
}
ul{
    list-style: none;
}
ul > li {
    float: left;
    border-right: 1px solid #3e3737;
    padding: 0px 10px 0px 9px;
}

/* Margins */
.mb-10{
    margin-bottom: 10px;
}
.mb-0{
    margin-bottom: 0px;
}
.heading{
    position: absolute;
    z-index: 10;
    top: 45%;
    margin-left: 20%;
    margin-right: 20%;
}
.carousel.slide > ol > li{
    background: #0b0b0b;
}
.carousel-inner > div > h1 {
    color:#fff;
    font-size: 70px;
}