<footer class="container-fluid" id="footer">

  <!-- div class="container" id="links-heading">
    <br/><br/>
    <div class="row">
      <div class="col-sm-2 text-uppercase">
        <p>Quick Links</p>
      </div>
      <div class="col-sm-2 text-uppercase">
        <p>Dresses</p>
      </div>
      <div class="col-sm-3 text-uppercase">
        <p>Get Shopping</p>
      </div>
      <div class="col-sm-3 text-uppercase">
        <p>Our Contacts</p>
      </div>
      <div class="col-sm-2 text-uppercase ">
        <p>Payments</p>
      </div>
    </div>
  </div>
  <br/>
  <div class="container" id="footer-links">
    <div class="row">
      <div class="col-sm-2">
        <small>Links 1</small>
      </div>
      <div class="col-sm-2">
        <small>Links 2</small>
      </div>
      <div class="col-sm-3">
        <small>Links 3</small>
      </div>
      <div class="col-sm-3">
        <small>Links 4</small>
      </div>
      <div class="col-sm-2">
        <small>Links 5</small>
      </div>
    </div>
    <div class="row footer-row">
      <div class="col-sm-2">
        <small>Links 1</small>
      </div>
      <div class="col-sm-2">
        <small>Links 2</small>
      </div>
      <div class="col-sm-3">
        <small>Links 3</small>
      </div>
      <div class="col-sm-3">
        <small>Links 4</small>
      </div>
      <div class="col-sm-2">
        <small>Links 5</small>
      </div>
    </div>
    <br/><br/>
    <hr/>
  </div>

  <div class="container" id="footer-bottom">
    <div class="row">
      <div class="col-sm-4">
        <h1>Online Store</h1>
      </div>
      <div class="col-sm-4 vcenter">
        <ul>
          <li class="text-uppercase">
            <small>About us</small>
          </li>
          <li class="text-uppercase">
            <small>Privacy Policy</small>
          </li>
          <li class="text-uppercase">
          <small>Locations</small>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 vcenter">
        <small class="pull-right">&copy; <span id="copyright_year">2020</span> Online store – The complete store.</small>
      </div>
    </div>
  </div -->
</footer>
